.Login {
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;

    input, button {
        padding: 10px;
        outline: none;
        font-size: 18px;
    }
    button {
        margin-top: 10px;
        border: none;
        border-radius: 20px;
        letter-spacing: 2px;
        background-color: #eee;
        cursor: pointer;
        &:hover {
            background-color: #ddd;
        }
        &:active {
            background-color: #ccc;
        }
    }
}

.Error {
    color: red;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 20px;
    font-weight: bold;
}