* {
    box-sizing: border-box;
}

body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}